<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Menu\Menu</fullnamespace>
    <descriptive locale="en_US">
        <title>menu</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>menu</title>
    </descriptive>
    <version>1.0.0</version>
    <author>
        <name>Chevrier Anthony</name>
        <email>anthony@meedle.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
